<div class="content">
    
    <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Charts</div>
        <div class="panel-body">
          HEHEHEHEEH
         <script src="Chart.js"></script>
  </head>
  <body>
    <div style="width:100%">
      <div>
        <canvas id="canvas" height="450" width="600"></canvas>
      </div>
    </div>

    <script>
    var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
    var lineChartData = {
      labels : ["January","February","March","April","May","June","July"],
      datasets : [
        {
          label: "My First dataset",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data: [28, 48, 40, 19, 86, 27, 90]
        },
        {
          label: "My Second dataset",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : [65, 59, 80, 81, 56, 55, 40]
        }
      ]

    }

  window.onload = function(){
    var ctx = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx).Line(lineChartData, {
      responsive: true
    });
  }


  </script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Tables</div>
        <div class="panel-body">
          <canvas id="tables" class="chart chart-line" data="data" labels="labels"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

 </script>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Results</div>
        <div class="panel-body">
        BLA BLA BLA BLA BLA
        </div>
      </div>
    </div>
  </div>
</div>