<div class="dictionary">

<div class="container">
    <table>
      <tr>
        <td align="left">Search :</td>
        <td><input ng-model="query[queryBy]" class="form-control" placeholder="Enter Word"/></td>
      </tr>
      <tr>
        <td align="left">Search By :</td>
          <td>
          <select ng-model="queryBy" class="form-control">
          <option value="$"></option>
          <option value="term">TERM</option>
          <option value="description">DESCRIPTION</option>
          </select>
        </td>
      </tr>
    </table>
    <h4>Medical Terms</h4>
    <hr>
    <div>
    <ul id="search">
      <li ng-repeat="obj in search | filter:query">
          <b>{{ obj.term }}</b> <br />
         <b>Meaning: </b>{{ obj.description }} <br />
      </li>
    </ul>
    </div>
  </div>
</div>