<div>
  <form name="form" class="form-group" novalidate>
   
   <h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>

<div class="container">
<div class="pagination pagination-primary">
	<ul>
	<a ui-sref="imci" class="btn btn-success btn-wide"> Back</a>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitaminA">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<div ui-view></div>

 </form>
  
</div>