<div class="login jumbotron center-block">
    <h1>Login</h1>
    <form role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-model="user.username" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default" name="loginBtn" ng-click="login()">Login</button>
    </form>
    <a ui-sref="register">Click here to Signup</a>
</div>