<div class="content">
  <h1>RECORDS</h1>

  <div id="imcionecharts">
  <div class="col-lg-6 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">IMCI ONE</div>
      <div class="panel-body">
        <!-- <canvas id="tables" class="chart chart-line" data="data" labels="labels"></canvas> -->
        <div class="row" ng-repeat="ediarrhea in diarrhearesults">
          <h4>DIARRHEA</h4>
        	diarrhea: {{ ediarrhea.diarrhea }} <br>
        	duration: {{ ediarrhea.duration}} <br>
        	bloodStool: {{ ediarrhea.bloodStool }} <br>
        	sleepy: {{ ediarrhea.sleepy}} <br>
        	restlessIrritable: {{ ediarrhea.restlessIrritable }} <br>
        	sunkenEyes: {{ ediarrhea.sunkenEyes}} <br>
        	skin: {{ ediarrhea.skin }} <br>
        	assessment: {{ ediarrhea.assessment}} <br>
        </div>

        <div class="row" ng-repeat="ebacterialinfection in bacterialinfectionresults">
        	<h4>BACTERIAL INFECTION</h4>
        	feeding: {{ ebacterialinfection.feeding }} <br>
			convulsion: {{ ebacterialinfection.convulsion }} <br>
			countBreaths: {{ ebacterialinfection.countBreaths }} <br>
			chestIndrawing: {{ ebacterialinfection.chestIndrawing }} <br>
			nasalFlaring: {{ ebacterialinfection.nasalFlaring }} <br>
			grunting: {{ ebacterialinfection.grunting }} <br>
			fontanelle: {{ ebacterialinfection.fontanelle }} <br>
			temperature: {{ ebacterialinfection.temperature }} <br>
			umbilicus: {{ ebacterialinfection.umbilicus }} <br>
			skinPustules: {{ ebacterialinfection.skinPustules }} <br>
			sleepy: {{ ebacterialinfection.sleepy }} <br>
			movement: {{ ebacterialinfection.movement }} <br>
			assessment: {{ ebacterialinfection.assessment }} <br>
        </div>

       	<!-- <div class="row" ng-repeat="eweightproblem in weightproblemresults">
       		<h4>WEIGHT PROBLEM</h4>
       		lowWeight: {{ eweightproblem.lowWeight }}
			thrush: {{ eweightproblem.thrush }}
       	</div> -->

        <div class="row" ng-repeat="efoodintake in foodintakeresults">
        	<h4>FOOD INTAKE</h4>
        	breastfed: {{ efoodintake.breastfed }} <br>
			breastfedCount: {{ efoodintake.breastfedCount }} <br>
			other: {{ efoodintake.other }} <br>
			othersCount: {{ efoodintake.othersCount }} <br>
			milk: {{ efoodintake.milk }} <br>
			nightCount: {{ efoodintake.nightCount }} <br>
			dayCount: {{ efoodintake.dayCount }} <br>
			volume: {{ efoodintake.volume }} <br>
			preparation: {{ efoodintake.preparation }} <br>
			breastMilk: {{ efoodintake.breastMilk }} <br>
			food: {{ efoodintake.food }} <br>
			cupBottle: {{ efoodintake.cupBottle }} <br>
			cleaning: {{ efoodintake.cleaning }} <br>
			assessment: {{ efoodintake.assessment }} <br>
        </div>
		
		<div class="row" ng-repeat="eattachment in attachmentresults">
			<h4>ATTACHMENT</h4>
			chin: {{ eattachment.chin }} <br>
			mouth: {{ eattachment.mouth }} <br>
			lip: {{ eattachment.lip }} <br>
			areola: {{ eattachment.areola }} <br>
			sucking: {{ eattachment.sucking }} <br>
		</div>

		<div class="row" ng-repeat="eimmunization in immunizationresults">
			<h4>IMMUNIZATION</h4>
			bcg: {{ eimmunization.bcg }} <br>
			dpt1: {{ eimmunization.dpt1 }} <br>
			opv1: {{ eimmunization.opv1 }} <br>
			hepb1: {{ eimmunization.hepb1 }} <br>
		</div>

      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Chart Diarrhea</div>
				<div class="panel-body">
					<table class="table table-responsive table-condensed table-striped">
						<tr>
							<th ng-repeat="label in labels">{{label}}</th>
						</tr>
						<tr ng-repeat="dataSet in data">
                  			<td ng-repeat="set in dataSet track by $index"><span style="text-align: right;">{{data[$parent.$index][$index]}}</span></td>
                		</tr>
					</table>
				</div>
			</div>
		</div>
</div>