<div class="login jumbotron center-block">
    <h1><font color = "black">Register</h1><font color = "black">
    <pre ng-show="errors.length" >
        <small ng-repeat="err in errors">
            {{err.message}}
        </small>
    </pre>
    <form role="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ng-model="user.username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" ng-model="user.password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" ng-model="user.name" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <input type="text" class="form-control" ng-model="user.gender" id="gender" placeholder="Gender">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" ng-model="user.address" id="address" placeholder="Address">
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" ng-model="user.age" id="age" placeholder="Age">
        </div>
        <div class="form-group">
            <label for="community">Community</label>
            <input type="text" class="form-control" ng-model="user.community" id="community" placeholder="Community">
        </div>
        <div class="form-group">
            <label for="contactNumber">ContactNumber</label>
            <input type="text" class="form-control" ng-model="user.contactNumber" id="contactNumber" placeholder="ContactNumber">
        </div>
        <button type="submit" class="btn btn-default" ng-click="register()">Submit</button>
    </form>
</div>