<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->





<!-- <a ui-sref="generaldangersigns" class="btn btn-lg btn-primary">GENERAL DANGER SIGNS</a>
<a ui-sref="cough" class="btn btn-lg btn-primary">COUGH OR DIFFICULTY IN BREATHING</a>
<a ui-sref="diarrheatwo" class="btn btn-lg btn-primary">DIARRHEA</a>
<a ui-sref="fever" class="btn btn-lg btn-primary">FEVER</a>
<a ui-sref="measles" class="btn btn-lg btn-primary">MEASLES</a>
<a ui-sref="dengue" class="btn btn-lg btn-primary">DENGUE</a>
<a ui-sref="earproblem" class="btn btn-lg btn-primary">EAR PROBLEM</a>
<a ui-sref="malnutritionanemia" class="btn btn-lg btn-primary">MALNUTRITION ANEMIA</a>
<a ui-sref="immunizationtwo" class="btn btn-lg btn-primary">IMMUNIZATION</a> -->
<div ui-view></div>

<b>CHECK FOR COUGH OR DIFFICULTY IN BREATHING: </b>
 </br>
 
 Does the child have cough or difficulty in breathing? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cough" value=true ng-model="cough.cough">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cough" value=false ng-model="cough.cough">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 If YES,
 For how long? 
    <input type="number" ng-model="cough.duration" name="duration" required="" /> <i>days</i>
    </div>
    
    Breaths per minute
        <input type="number" ng-model="cough.count" name="count" required="" /> <i>breaths per minute</i>
        </div>
 
 Chest Indrawing? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=true ng-model="cough.chestIndrawing">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=false ng-model="cough.chestIndrawing">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 Stridor? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="stridor" value=true ng-model="cough.stridor">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="stridor" value=false ng-model="cough.stridor">
                <font color=red>NO</font>
            </label>
        </div>
    </div>


<div>
    <h3>RESULT: COUGH OR DIFFICULTY IN BREATHING</h3>
    <div>{{ cough.cough }}</div>
    <div>{{ cough.duration }}</div>
    <div>{{ cough.count }}</div>
    <div>{{ cough.chestIndrawing }}</div>
    <div>{{ cough.stridor }}</div>
    <div>{{ getCough() }}</div>
</div>