<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->

<b>CHECK FOR EAR PROBLEM: </b>
    
<br/>
    
    Does the child have ear problem?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="earProblem" value=true ng-model="earProblem.earProblem">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="earProblem" value=false ng-model="earProblem.earProblem">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 If YES, Is there ear pain? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pain" value=true ng-model="earProblem.pain">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pain" value=false ng-model="earProblem.pain">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is there ear discharge? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="discharge" value=true ng-model="earProblem.discharge">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="discharge" value=false ng-model="earProblem.discharge">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 IF YES, for how long? 
    <input type="number" ng-model="earProblem.duration" name="duration" required="" /> <i>days</i>
    </div>
    
    
  Pus draining from the ear? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=true ng-model="earProblem.pusDraining">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=false ng-model="earProblem.pusDraining">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Is there a tender swelling behind the ear? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="swelling" value=true ng-model="earProblem.swelling">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="swelling" value=false ng-model="earProblem.swelling">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

<div>
    <h3>RESULT: EAR PROBLEM</h3>
    <div>{{ earProblem.earProblem }}</div>
    <div>{{ earProblem.pain }}</div>
    <div>{{ earProblem.discharge }}</div>
    <div>{{ earProblem.duration }}</div>
    <div>{{ earProblem.pusDraining }}</div>
    <div>{{ earProblem.swelling }}</div>
    <div>{{ getEarProblem() }}</div>
</div>

<button type="submit" class="btn btn-default" name="earProblemBtn" ng-click="saveEarProblem()">submit</button>