<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->



<!-- <a ui-sref="generaldangersigns" class="btn btn-lg btn-primary">GENERAL DANGER SIGNS</a>
<a ui-sref="cough" class="btn btn-lg btn-primary">COUGH OR DIFFICULTY IN BREATHING</a>
<a ui-sref="diarrheatwo" class="btn btn-lg btn-primary">DIARRHEA</a>
<a ui-sref="fever" class="btn btn-lg btn-primary">FEVER</a>
<a ui-sref="measles" class="btn btn-lg btn-primary">MEASLES</a>
<a ui-sref="dengue" class="btn btn-lg btn-primary">DENGUE</a>
<a ui-sref="earproblem" class="btn btn-lg btn-primary">EAR PROBLEM</a>
<a ui-sref="malnutritionanemia" class="btn btn-lg btn-primary">MALNUTRITION ANEMIA</a>
<a ui-sref="immunizationtwo" class="btn btn-lg btn-primary">IMMUNIZATION</a>
<div ui-view></div>
 -->
<b>CHECK FOR FEEDING PROBLEM: </b>
 <br/>
 
 
 Is the infant breastfed? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="breastfeed" value=true ng-model="feedingProblem.breastfeed">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="breastfeed" value=false ng-model="feedingProblem.breastfeed">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  If YES, ASK: How many times in 24 hours? 
    <input type="number" ng-model="feedingProblem.hours" name="hours" required="" /> <i>hours</i>
    </div>
    
    
    Do you breastfeed during the night?  
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="night" value=true ng-model="feedingProblem.night">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="night" value=false ng-model="feedingProblem.night">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  Does the child take any other foods and fluids? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="others" value=true ng-model="feedingProblem.others">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="others" value=false ng-model="feedingProblem.others">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
  
  If YES, What foods or fluids?  
   <input type="text" ng-model="feedingProblem.otherFood.food" name="food" required="" /> 
    </div>
    
    
    How many times per day?  
     <input type="number" ng-model="feedingProblem.otherFood.count" name="count" required="" /> <i>times</i>
    </div>
    
  
  What do you use to feed the child?  
    <input type="text" ng-model="feedingProblem.otherFood.useFeed" name="useFeed" required="" /> 
    </div>
    
    
    If very low weight for age, how large are the servings?  
    <input type="number" ng-model="feedingProblem.otherFood.servings" name="servings" required="" /> <i>mL</i>
    </div>
    
    
    Does the child receive his/her own serving? 
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="receive" value=true ng-model="feedingProblem.otherFood.receive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="receive" value=false ng-model="feedingProblem.otherFood.receive">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
    
    Who feeds the child and how? 
<input type="text" name="who" ng-model="feedingProblem.otherFood.who" required="" /> 
    </div>
    
    
During the illness, has the child’s feeding changed? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="change" value=true ng-model="feedingProblem.otherFood.change">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="change" value=false ng-model="feedingProblem.otherFood.change">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 IF YES, how? 
<input type="text" ng-model="feedingProblem.otherFood.how" name="how" required="" /> 
    </div>
  
<div>
    <h3>RESULT: FEEDING PROBLEM</h3>
    <div>{{ feedingProblem.breastfeed }}</div>
    <div>{{ feedingProblem.hours }}</div>
    <div>{{ feedingProblem.night }}</div>
    <div>{{ feedingProblem.others }}</div>
    <div>{{ feedingProblem.otherFood.food }}</div>
    <div>{{ feedingProblem.otherFood.count }}</div>
    <div>{{ feedingProblem.otherFood.useFeed }}</div>
    <div>{{ feedingProblem.otherFood.servings }}</div>
    <div>{{ feedingProblem.otherFood.receive }}</div>
    <div>{{ feedingProblem.otherFood.who }}</div>
    <div>{{ feedingProblem.otherFood.change }}</div>
    <div>{{ feedingProblem.otherFood.how }}</div>
</div>