<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>

<b>GENERAL DANGER SIGNS:</b> 
   
   
   Is the child able to drink or breastfeed? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="drinkBreastfeed" value=true ng-model="generalDangerSigns.drinkBreastfeed">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="drinkBreastfeed" value=false ng-model="generalDangerSigns.drinkBreastfeed">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Does the child vomit everything? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="vomit" value=true ng-model="generalDangerSigns.vomit">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="vomit" value=false ng-model="generalDangerSigns.vomit">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Has the child had convulsions? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=true ng-model="generalDangerSigns.convulsion">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=false ng-model="generalDangerSigns.convulsion">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 Is the child lethargic or unconscious? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="active" value=true ng-model="generalDangerSigns.active">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="active" value=false ng-model="generalDangerSigns.active">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
<br/>

 <div>
    <h2>RESULT: General Danger Sign</h2>
    <div>{{ generalDangerSigns.drinkBreastfeed }}</div>
    <div>{{ generalDangerSigns.vomit }}</div>
    <div>{{ generalDangerSigns.convulsion }}</div>
    <div>{{ generalDangerSigns.active }}</div>
  </div>

 <button type="submit" class="btn btn-default" name="generalDangerSignsBtn" ng-click="saveGeneralDangerSigns()">submit</button>