<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->

<b>CHECK FOR MALNUTRITION AND ANEMIA: </b>
 <br/>
  
 Is there visible severe wasting? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="wasting" value=true ng-model="malnutritionAnemia.wasting">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="wasting" value=false ng-model="malnutritionAnemia.wasting">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
  
 Is there edema of both feet? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="edemaFeet" value=true ng-model="malnutritionAnemia.edemaFeet">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="edemaFeet" value=false ng-model="malnutritionAnemia.edemaFeet">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
  
 Is there palmar pallor? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="palmarPallor" value="some" ng-model="malnutritionAnemia.palmarPallor">
                <font color=green>some</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="palmarPallor" value="severe" ng-model="malnutritionAnemia.palmarPallor">
                <font color=red>severe</font>
            </label>
        </div>
    </div>
     
  Is the weight for age low? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=true ng-model="malnutritionAnemia.lowWeight">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=false ng-model="malnutritionAnemia.lowWeight">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 
    <h2>RESULT: Malnutrition and Anemia</h2>
    <div>{{ malnutritionAnemia.wasting }}</div>
    <div>{{ malnutritionAnemia.edemaFeet }}</div>
    <div>{{ malnutritionAnemia.palmarPallor }}</div>
    <div>{{ malnutritionAnemia.lowWeight }}</div>
  </div>

  <button type="submit" class="btn btn-default" name="malnutritionAnemiaBtn" ng-click="saveMalnutritionAnemia()">submit</button>