<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->

<b>IF YES FOR SIGNS OF MEASLES:</b>
<p></p>
<br/>
Mouth Ulcers? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="mouthUlcers" value=true ng-model="measles.mouthUlcers">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="mouthUlcers" value=false ng-model="measles.mouthUlcers">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>
 
 If YES, are they deep and extensive? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="deepExtensive" value=true ng-model="measles.deepExtensive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="deepExtensive" value=false ng-model="measles.deepExtensive">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>

Pus draining from the eye? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=true ng-model="measles.pusDraining">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="pusDraining" value=false ng-model="measles.pusDraining">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <p></p>
 
 Clouding of the cornea? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cloudingCornea" value=true ng-model="measles.cloudingCornea">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cloudingCornea" value=false ng-model="measles.cloudingCornea">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

 <div>
    <h2>RESULT: Measles</h2>
    <div>{{ measles.mouthUlcers }}</div>
    <div>{{ measles.deepExtensive }}</div>
    <div>{{ measles.pusDraining }}</div>
    <div>{{ measles.cloudingCornea }}</div>
</div>

<button type="submit" class="btn btn-default" name="measlesBtn" ng-click="saveMeasles()">submit</button>