<h3><b><center>IMCI QUESTIONNAIRE <br/>(2 months - 5 years)</font></center></b></h3>
<!--temporary navigation start -->
<div class="container">
<div class="pagination pagination-primary">
    <ul>
    <li><a ui-sref="generaldangersigns">GENERAL DANGER SIGNS</a></li>
     <li><a ui-sref="cough">COUGH OR DIFFICULTY IN BREATHING</a></li>
     <li><a ui-sref="diarrheatwo">DIARRHEA</a></li>
     <li><a ui-sref="fever">FEVER</a></li>
     <li><a ui-sref="measles">MEASLES</a></li>
     <li><a ui-sref="dengue">DENGUE</a></li>
     <li><a ui-sref="earproblem">EAR PROBLEM</a></li>
     <li><a ui-sref="malnutritionanemia">MALNUTRITION ANEMIA</a></li>
     <li><a ui-sref="immunizationtwo">IMMUNIZATION</a></li>
     <li><a ui-sref="vitamina">VITAMIN A SUPPLEMENTATION</a></li>
    </ul>
</div>
<!--temporary navigation end -->


<b>VITAMIN A SUPPLEMENTATION STATUS: </b>
  <br/>
  
  
  Is the child six months of age or older? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sixMos" value=true ng-model="vitaminA.sixMos">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sixMos" value=false ng-model="vitaminA.sixMos">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 
 Has the child received Vitamin A in the past six months? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="recieve" value=true ng-model="vitaminA.receive">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="recieve" value=false ng-model="vitaminA.receive">
                <font color=red>NO</font>
            </label>
        </div>
    </div> 

    <div>
    <h2>RESULT: Vitamin A Supplementation Status</h2>
    <div>{{ vitaminA.sixMos }}</div>
    <div>{{ vitaminA.receive }}</div>
    </div>

<button type="submit" class="btn btn-default" name="vitaminABtn" ng-click="saveVitaminA()">submit</button>