<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li ><a ui-sref="diarrheaone">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection">BACTERIAL INFECTION</a></li>
    <li ><a ui-sref="weightproblem">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake">FOOD INTAKE</a></li>
    <li class="active"><a ui-sref="attachment">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->


<div ui-view></div>
<br>
<b>ASSESS BREASTFEEDING:</b>
 <p></p>
 
 <i>Ask mother to breastfeed the infant then observe the breastfeeding for four 
minutes,</i>
<p></p>

CHECK FOR ATTACHMENT: 
<p></p>
Chin touching breast? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="chin" value=true ng-model="attachment.chin">
            <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="chin" value=false ng-model="attachment.chin">
            <font color=red>NO</font>
        </label>
    </div>
</div> 
 Mouth wide open?
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="mouth" value=true ng-model="attachment.mouth">
            <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="mouth" value=false ng-model="attachment.mouth">
            <font color=red>NO</font>
        </label>
    </div>
</div> 
 Lower lip turned upward? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="lip" value=true ng-model="attachment.lip">
            <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="lip" value=false ng-model="attachment.lip">
            <font color=red>NO</font>
        </label>
    </div>
</div> 
 More areola than below the mouth? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="areola" value=trueng-model="attachment.areola">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="areola" value=false ng-model="attachment.areola">
                <font color=red>NO</font>
            </label>
        </div>
    </div> 
 Is the infant sucking effectively? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="sucking" value="notsucking" ng-model="attachment.sucking">
           <font color=red>not sucking at all</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="sucking" value="noteffectively" ng-model="attachment.sucking">
            <font color=blue>not sucking effectively</font>
        </label>
    </div>
</div>
        <label>
            <input type="radio" name="sucking" value="sucking" ng-model="attachment.sucking">
           <font color=green>sucking effectively</font> 
        </label>
    
<div>
    <h2>RESULT: ATTACHMENT</h2>
    <div>{{ attachment.chin }}</div>
    <div>{{ attachment.mouth }}</div>
    <div>{{ attachment.lip }}</div>
    <div>{{ attachment.areola }}</div>
    <div>{{ attachment.sucking }}</div>
</div>

<div>
        {{ getAttachment() }}
    </div>
<a ui-sref="foodintake" class="btn btn-primary"> Back </a> 
<a ui-sref="immunizationone" class="btn btn-primary" name="attachmentBtn" ng-click="saveAttachment()"> Next </a>