<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>
<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li><a ui-sref="diarrheaone" data-toggle="tab">DIARRHEA</a></li>
    <li  class="active" data-toggle="tab"><a ui-sref="bacterialinfection" >BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem" data-toggle="tab">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake" data-toggle="tab">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment" data-toggle="tab">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone" data-toggle="tab">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->

<div ui-view></div> <br>
<b>CHECK FOR POSSIBLE BACTERIAL INFECTION: </b> 
 <br/>
 Is the infant having difficulty in feeding? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="feeding" value=true ng-model="bacterialInfection.feeding">
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="feeding" value=false ng-model="bacterialInfection.feeding">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 Had the infant have convulsions? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=true ng-model="bacterialInfection.convulsion">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="convulsion" value=false ng-model="bacterialInfection.convulsion">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 Breathe per minute: 
 <div class="form-group">
        <div class="radio" >
            <label>
                <input type="radio" name="countBreaths" value="30-40bpm" ng-model="bacterialInfection.countBreaths" >
                <font color=green>30-40bpm</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="countBreaths" value="40+bpm" ng-model="bacterialInfection.countBreaths" >
                <font color=red>40+bpm</font>
            </label>
        </div>
    </div> 

Chest Indrawing?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=true ng-model="bacterialInfection.chestIndrawing">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="chestIndrawing" value=false ng-model="bacterialInfection.chestIndrawing">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
  Temperature (°C): 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="temperature" value="36.5-38°C" ng-model="bacterialInfection.temperature">
                <font color=green>36.5-38°C</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="temperature" value="38+°C" ng-model="bacterialInfection.temperature">
                <font color=red>38+°C</font>
            </label>
        </div>
    </div>
    
 Nasal flaring?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="nasalFlaring" value=true ng-model="bacterialInfection.nasalFlaring">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="nasalFlaring" value=false ng-model="bacterialInfection.nasalFlaring">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Grunting? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="grunting" value=true ng-model="bacterialInfection.grunting">
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="grunting" value=false ng-model="bacterialInfection.grunting">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Bulging fontanelle? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="fontanelle" value=true ng-model="bacterialInfection.fontanelle">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="fontanelle" value=false ng-model="bacterialInfection.fontanelle">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Is the umbilicus red or draining puss ? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="umbilicus" value=true ng-model="bacterialInfection.umbilicus">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="umbilicus" value=false ng-model="bacterialInfection.umbilicus">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Are there many or severe skin pustules? 
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="skinPustules" value=true ng-model="bacterialInfection.skinPustules">
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="skinPustules" value=false ng-model="bacterialInfection.skinPustules">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Abnormally sleepy or difficult to awaken? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=true ng-model="bacterialInfection.sleepy">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=false ng-model="bacterialInfection.sleepy">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Is the infant’s movements less than normal?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="movement" value=true ng-model="bacterialInfection.movement">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="movement" value=false ng-model="bacterialInfection.movement">
                <font color=red>NO</font>
            </label>
        </div>
    </div>

    <div>
    <h2>RESULT: BACTERIAL INFECTION</h2>
    <div>{{ bacterialInfection.feeding }}</div>
    <div>{{ bacterialInfection.convulsion }}</div>
    <div>{{ bacterialInfection.chestIndrawing }}</div>
    <div>{{ bacterialInfection.nasalFlaring}}</div>
    <div>{{ bacterialInfection.grunting }}</div>
    <div>{{ bacterialInfection.fontanelle }}</div>
    <div>{{ bacterialInfection.umbilicus }}</div>
    <div>{{ bacterialInfection.skinPustules }}</div>
    <div>{{ bacterialInfection.sleepy }}</div>
    <div>{{ bacterialInfection.movement}}</div>

</div>

<div>
        {{ getBacterialInfection() }}
    </div>

<a ui-sref="diarrheaone" class="btn btn-primary"> Back </a> 
<a ui-sref="weightproblem" class="btn btn-primary" name="bacterialInfectionBtn" ng-click="saveBacterialInfection()"> Next </a>