<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a ui-sref="diarrheaone" data-toggle="tab">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection" data-toggle="tab">BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem" data-toggle="tab">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake" data-toggle="tab">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment" data-toggle="tab">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone" data-toggle="tab">IMMUNIZATION</a></li>
    </ul>
</div>  

<!-- end of temporary navigation -->

<div ui-view></div><br>
 
  
<b>ASK FOR DIARRHEA: </b>
   Does the patient have Diarrhea? 
     <div class="form-group">
        <div class="radio" >
            <label>
                <input type="radio" name="diarrhea" value=true ng-model="diarrheaOne.diarrhea" >
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="diarrhea" value=false ng-model="diarrheaOne.diarrhea" >
                <font color=red>NO</font>
            </label>
        </div>
    </div> 

    If YES,
 For how long? (Duration in Days)
    <div class="form-group">
        <div class="radio" >
            <label>
                <input type="radio" name="duration" value="0-14days" ng-model="diarrheaOne.duration" >
                <font color=green>0-14 days</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="duration" value="14+days" ng-model="diarrheaOne.duration" >
                <font color=red>14+ days</font>
            </label>
        </div>
    </div> 

    Is there blood in the stool? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="bloodStool" value=true ng-model="diarrheaOne.bloodStool">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="bloodStol" value=false ng-model="diarrheaOne.bloodStool">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 <br/>
 
 <b>Infant’s General Condition</b>
 <br/>
 Is the infant:
   Abnormally sleepy or difficult to awaken?
   <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=true ng-model="diarrheaOne.sleepy">
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sleepy" value=false ng-model="diarrheaOne.sleepy">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 Restless or Irritable?
 <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="restlessIrritable" value=true ng-model="diarrheaOne.restlessIrritable">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="restlessIrritable" value=false ng-model="diarrheaOne.restlessIrritable">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
Sunken eyes? 
<div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="sunkenEyes" value=true ng-model="diarrheaOne.sunkenEyes" >
               <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="sunkenEyes" value=false ng-model="diarrheaOne.sunkenEyes">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 Pinch the skin of the abdomen. If it gets back
 How long? (seconds)
 <div class="form-group">
        <div class="radio" >
            <label>
                <input type="radio" name="skin" value="1-2secs(normal)" ng-model="diarrheaOne.skin" >
                <font color=green>1-2 seconds (normal)</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="skin" value="2+secs" ng-model="diarrheaOne.skin" >
                <font color=red>2+ seconds</font>
            </label>
        </div>
    </div> 

 <div>
    <h2>RESULT: DIARRHEA</h2>
    <div>{{ diarrheaOne.diarrhea}}</div>
    <div>{{ diarrheaOne.bloodStool }}</div>
    <div>{{ diarrheaOne.sleepy }}</div>
    <div>{{ diarrheaOne.restlessIrritable}}</div>
    <div>{{ diarrheaOne.sunkenEyes }}</div>
           {{ getDiarrhea() }}
</div>
    <a ui-sref="bacterialinfection" class="btn btn-primary" name="diarrheaOneBtn" ng-click="saveDiarrheaOne()"> Next </a>
    