<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li ><a ui-sref="diarrheaone">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection">BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem">WEIGHT PROBLEM</a></li>
    <li class="active"><a ui-sref="foodintake">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->

 <div ui-view></div>
 <br>
<b> CHECK FOR FEEDING PROBLEM:</b>
<br/>
Is the infant breastfed? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="breastfed" value=true ng-model="foodIntake.breastfed">
           <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="breastfed" value=false ng-model="foodIntake.breastfed">
            <font color=red>NO</font>
        </label>
    </div>
</div>
 
    <br> If YES, How many times in 24 hours?
    <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="breastfedCount" value="0-8" ng-model="foodIntake.breastfedCount">
           <font color=green>0-8 times</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="breastfedCount" value="9+" ng-model="foodIntake.breastfedCount">
            <font color=red>9 and above times</font>
        </label>
    </div>
    </div>

    If NO, What milk are you giving?
    <input type="text" ng-model="foodIntake.milk" name="milk" required="" class="form-control" />
How many times during the day and night? 
<br>
<i>Day:</i>
    <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="dayCount" value="0-4" ng-model="foodIntake.dayCount">
           <font color=green>0-8 times</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="dayCount" value="4+" ng-model="foodIntake.dayCount">
            <font color=red>9 and above times</font>
        </label>
    </div>
    </div>
        
<i>Night:</i>
    <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="nightCount" value="0-4" ng-model="foodIntake.nightCount">
           <font color=green>0-8 times</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="nightCount" value="4+" ng-model="foodIntake.nightCount">
            <font color=red>9 and above times</font>
        </label>
    </div>
    </div>
    
    <br>
    How much is given at each feed? (Volume in mL)
    <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="volume" value="0-50" ng-model="foodIntake.volume">
           <font color=green>0-50 mL</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="volume" value="50+" ng-model="foodIntake.volume">
            <font color=red>50+ mL</font>
        </label>
    </div>
    </div>
    
    How are you preparing the milk? 
    <input type="text" ng-model="foodIntake.preparation" name="preparation" required="" class="form-control"/> 
    
    <br>
    Are you giving any breast milk at all? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="breastMilk" value=true ng-model="foodIntake.breastMilk">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="breastMilk" value=false ng-model="foodIntake.breastMilk">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
    What foods and fluids in addition to replacement is given?
    <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="food" value="soup" ng-model="foodIntake.food">
           <font color=green>soup</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="food" value="porridge" ng-model="foodIntake.food">
            <font color=green>porridge</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="food" value="ors formulated" ng-model="foodIntake.food">
            <font color=green>ors formulated</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="food" value="water" ng-model="foodIntake.food">
            <font color=red>water</font>
        </label>
    </div>
    </div> 
   <br>
    
    Cup or Bottle?
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="cupBottle" value="cup" ng-model="foodIntake.cupBottle">
                <font color=green>CUP</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="cupBottle" value="bottle" ng-model="foodIntake.cupBottle">
                <font color=red>BOTTLE</font>
            </label>
        </div>
    </div>
 
 How are you cleaning the bottle? 
    <input type="text" ng-model="foodIntake.cleaning" name="cleaning" required="" class="form-control"  /> 
    
  Does the infant usually receive any other foods and drinks? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="other" value=true ng-model="foodIntake.other">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="other" value=false ng-model="foodIntake.other">
                <font color=red>NO</font>
            </label>
        </div>
    </div>
 
 If YES, How often? 
    <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="othersCount" value="3 times and snacks in between" ng-model="foodIntake.othersCount">
                <font color=green>3 times and snacks in between</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="othersCount" value="others" ng-model="foodIntake.othersCount">
                <font color=red>others</font>
            </label>
        </div>
    </div>


 <div>
     <h2>RESULT: FOOD INTAKE</h2>
    <div>{{ foodIntake.breastfed}}</div>
    <div>{{ foodIntake.breastfedCount}}</div>
    <div>{{ foodIntake.milk}}</div>
    <div>{{ foodIntake.dayCount}}</div>
    <div>{{ foodIntake.nightCount}}</div>
    <div>{{ foodIntake.volume}}</div>
    <div>{{ foodIntake.preparation}}</div>
    <div>{{ foodIntake.breastMilk}}</div>
    <div>{{ foodIntake.cupBottle}}</div>
    <div>{{ foodIntake.other}}</div>
   

        {{ getFoodIntake() }}


<br>
<a ui-sref="weightproblem" class="btn btn-primary"> Back </a> 
<a ui-sref="attachment" class="btn btn-primary" name="foodIntakeBtn" ng-click="saveFoodIntake()"> Next </a>