<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li><a ui-sref="diarrheaone">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection">BACTERIAL INFECTION</a></li>
    <li><a ui-sref="weightproblem">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment">ATTACHMENT</a></li>
    <li  class="active"><a ui-sref="immunizationone">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->

<div ui-view></div> 
<br>
<b>CHECK FOR IMMUNIZATION:</b>

BCG? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="bcg" value=true ng-model="immunizationOne.bcg">
          <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="bcg" value=false ng-model="immunizationOne.bcg">
            <font color=red>NO</font>
        </label>
    </div>
</div>

DPT1? 
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="dpt1" value=true ng-model="immunizationOne.dpt1">
          <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="dpt1" value=false ng-model="immunizationOne.dpt1">
            <font color=red>NO</font>
        </label>
    </div>
</div>

OPV1?
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="opv1" value=true ng-model="immunizationOne.opv1">
          <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="opv1" value=false ng-model="immunizationOne.opv1">
            <font color=red>NO</font>
        </label>
    </div>
</div>

HEP B 1?
<div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="hepb1" value=true ng-model="immunizationOne.hepb1">
          <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="hepb1" value=false ng-model="immunizationOne.hepb1">
            <font color=red>NO</font>
        </label>
    </div>
</div>



<div>
    <h2>RESULT: IMMUNIZATION</h2>
    <div>{{ immunizationOne.bcg}}</div>
    <div>{{ immunizationOne.dpt1}}</div>
    <div>{{ immunizationOne.opv1}}</div>
    <div>{{ immunizationOne.hepb1}}</div>
  

</div>

<div>
        {{ getImmunization() }}
    </div>


<a ui-sref="foodintake" class="btn btn-primary"> Back </a> 
<button type="submit" class="btn btn-primary" name="immunizationOneBtn" ng-click="saveImmunizationOne()" ui-sref="records"> Submit</a>