<h3><b><center>IMCI QUESTIONNAIRE <br/>(0-2 months)</font></b></h3>

<!-- temporary navigation -->
<div class="container">
    <div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <li ><a ui-sref="diarrheaone">DIARRHEA</a></li>
    <li><a ui-sref="bacterialinfection">BACTERIAL INFECTION</a></li>
    <li class="active"><a ui-sref="weightproblem">WEIGHT PROBLEM</a></li>
    <li><a ui-sref="foodintake">FOOD INTAKE</a></li>
    <li><a ui-sref="attachment">ATTACHMENT</a></li>
    <li><a ui-sref="immunizationone">IMMUNIZATION</a></li>
    </ul>
</div>  
<!-- end of temporary navigation -->

 <div ui-view> <br>
<b>CHECK FOR LOW WEIGHT: </b> 

 Is the weight for age low? 
  <div class="form-group">
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=true ng-model="weightProblem.lowWeight">
                <font color=green>YES</font>
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="lowWeight" value=false ng-model="weightProblem.lowWeight">
                <font color=red>NO</font>
            </label>
        </div>
    </div> 
 Ulcer or white patches in the mouth (thrush)? 
 <div class="form-group">
    <div class="radio">
        <label>
            <input type="radio" name="thrush" value=false ng-model="weightProblem.thrush">
            <font color=green>YES</font>
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="thrush" value=false ng-model="weightProblem.thrush">
            <font color=red>NO</font>
        </label>
    </div>
</div>


<div>
    <h2>RESULT: WEIGHT PROBLEM</h2>
    <div>{{ weightProblem.lowWeight}}</div>
    <div>{{ weightProblem.thrush}}</div>
  

</div>

<div>
        {{ getWeightProblem() }}
    </div>


<a ui-sref="bacterialinfection" class="btn btn-primary"> Back </a> 
<a ui-sref="foodintake" class="btn btn-primary" name="weightProblemBtn" ng-click="saveWeightProblem()"> Next </a>