<footer class="footer">
    <p class="pull-right"><a href="#" class="pull-right">Back to top</a></p>
    <p class="footer">&copy; Maria Makiling 2015 &middot; <a href="Developers.html">Developers</a> &middot; <a href="#">Terms</a></p>
</footer>